body {
    font-family: Helvetica;
    background-color: gray;
    color:purple;
}

h1{
    text-decoration: overline;
    background-color: aqua;
}
h1 {
    font-size: 68pt;
}
.center {
    position: relative;
    display: block;
    margin-left: 563px;
    margin-right: auto;
    width: 25%;
<<<<<<< HEAD
  }

=======
    color: red;
}

a {
    font-size: 50px;
    color: red;
}
>>>>>>> 81e73760fe9d7810b2b48f229f762182f10be0cc
