body {
    background-image: linear-gradient(rgb(90, 95, 105), rgb(55, 77, 124));
    font-style: italic;
    font-family: Helvetica;
    background-color: gray;
    color:purple;
}

h1{
    text-decoration: overline;
    background-color: aqua;
}
h1 {
    font-size: 68pt;
}
.center {
    position: relative;
    display: block;
    margin-left: 563px;
    margin-right: auto;
    width: 50%;
  }
a {
    font-size: 50px;
    color: red;
}
.image {
    image-orientation: flip;
    border-radius: 50%;
}

.clss {
    color: blueviolet;
    font-size: 32px;
}